body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.chat-container {
    background-color: white;
    padding: 20px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

#chat-box {
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

#user-input {
    width: 75%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}

button {
    padding: 10px 15px;
    background-color: #ade8f4;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}

.user-message {
    background-color: #e0f7fa;
    color: #333;
    padding: 10px 15px;
    border-radius: 18px 18px 0 18px;
    margin: 8px 0 8px auto;
    max-width: 75%;
    width: fit-content;
    text-align: right;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
    display: block;
}

.bot-message {
    background-color: #f1f8e9;
    color: #333;
    padding: 10px 15px;
    border-radius: 18px 18px 18px 0;
    margin: 8px auto 8px 0;
    width: fit-content;
    max-width: 75%;
    text-align: left;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
    display: block;
}
