.chat-container {
    display: none;
    background-color: white;
    padding: 20px;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    position: fixed;
    bottom: 32px;   
    right: 32px;    
    top: auto;      
    left: auto;     
    transform: none;
    z-index: 1000;
}

#chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.minimize-chat {
    background: none;
    border: none;
    cursor: pointer;
}

.minimize-chat svg {
    width: 24px;
    height: 24px;
}

#chat-box {
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

#chat-input {
    display: flex;
    align-items: center;
    gap: 10px;
}

#user-input {
    flex-grow: 9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}

.send-message-button {
    flex-grow: 1;
    padding: 10px 15px;
    background-color: #00b4d8;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
    color: white;
}

.user-message {
    background-color: #e0f7fa;
    color: #333;
    padding: 10px 15px;
    border-radius: 18px 18px 0 18px;
    margin: 8px 0 8px auto;
    max-width: 75%;
    width: fit-content;
    text-align: right;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
    display: block;
}

.bot-message {
    background-color: #f1f8e9;
    color: #333;
    padding: 10px 15px;
    border-radius: 18px 18px 18px 0;
    margin: 8px auto 8px 0;
    width: fit-content;
    max-width: 75%;
    text-align: left;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
    display: block;
}

#fab {
    position: fixed;
    bottom: 32px;
    right: 32px;
    background-color: #00b4d8;
    border: none;
    border-radius: 50%;
    width: 56px;
    height: 56px;
}

#fab:hover {
    background: #0077b6;
    cursor: pointer;
}